.logo{
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
    & a{
        display: block;
        width: 218px;
        height: 40px;
        background: url(../images/logo.png) no-repeat;
        background-size: cover;
        @include phone{
            width: 130px;
            height: 24px;
        }
    }
}

.card{
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    height: 100%;
    background: #fff;
    &-img{
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
}


.round{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 10px #00000014;
}
.underline{
    &::after{
        content: "";
        display: block;
        margin-top: 1.5rem;
        background: #dddddd;
        width: 100%;
        height: 1px;
        text-decoration: underline;
    }
    &-program::after{
        content: "";
        display: block;
        margin-top: 1rem;
        background: #dddddd;
        width: 100%;
        height: 1px;
        text-decoration: underline;
    }
}
.btn-list{
    display: flex;
    justify-content: center;
    .btn-outline{
        display: inline-block;
        padding: 12px 32px;
        font-size: 18px;
        border: 1px solid #56C4C5;
        color: map-get($color, "primary");
        cursor: pointer;
        border-radius: 27px;
        margin-right: 16px;  
    }
    >.active{
        background: map-get($color, "primary");
        color: map-get($color, "white");
    }
    @include pad{
        overflow-x: auto;
        justify-content: normal;
        .btn-outline{
            white-space: nowrap;
            padding: 8px 16px;
            font-size: 16px;
            margin-right: 6px;
        }
    }
}